<div class="profile-details-view-content view-content">

    <ul class="profile-details-sections">
        <li class="profile-section">
            <a href="#" class="flow-text profile-section-view" data-view="doctor-content">
                Doctores
            </a>
        </li>
        <li class="profile-section appointments selected">
            <a href="#" class="flow-text profile-section-view" data-view="appointment-content">
                Citas
            </a>
        </li>
    </ul>

    <div class="divider"></div>
    <div class="view-content">
        <section class="profile-details-section-content flow-text doctor-content hidden">
            <h5>Doctores</h5>
        </section>
        <section class="profile-details-section-content flow-text appointment-content">
            <h5>Citas</h5>
        </section>
    </div>
</div>