<div class="profile-details-view-content view-content">

    <div class="divider"></div>
    <div class="view-content">
        <section class="profile-details-section-content flow-text appointment-content">
            <h5>Citas</h5>

            <div class="profile-details-appointments-view"></div>

        </section>

        <div class="profile-actions">
            <a href="/coming-soon/appointment-create" class="coming-soon-appointment-action btn waves-effect waves-light">
                Agendar cita nueva
            </a>
            <!--<a href="/appointments/create" class="new-appointment-action btn waves-effect waves-light">-->
                <!--Agendar cita nueva-->
            <!--</a>-->
            <button class="logout-action btn waves-effect waves-light" type="button">
                Cerrar session
            </button>
        </div>
    </div>
</div>
