<div class="profile-details-appointments-view-content">
    <ul class="collection">
        <li class="collection-item avatar">
            <i class="material-icons circle green">folder</i>
            <span class="title">Title</span>
            <p>First Line <br>
                Second Line 2
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
        </li>
        <li class="collection-item avatar">
            <i class="material-icons circle red">folder</i>
            <span class="title">Title</span>
            <p>First Line <br>
                Second Line
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
        </li>
    </ul>
</div>