<div class="profile-view-content view-content">
    <h4>Mi perfil</h4>

    <div class="panel">
        <figure class="user-figure-content">
            <img src="{{ imageUrl }}" alt="" class="user-profile-picture">

            <figcaption class="user-profile-caption">
                <ul class="user-data">
                    <li class="flow-text user-name">
                        <strong>{{ name }}</strong>
                    </li>
                    <li class="flow-text email">{{ email }}</li>
                </ul>
            </figcaption>
        </figure>

        <div class="profile-details-view"></div>
    </div>
</div>