<div class="profile-details-view-content view-content">

    <div class="divider"></div>
    <div class="view-content">
        <section class="profile-details-section-content flow-text appointment-content">
            <h5>Citas</h5>

            <div class="profile-details-appointments-view"></div>

        </section>

        <div class="profile-actions">
            <button class="btn waves-effect waves-light" type="button">
                Agendar cita nueva
            </button>
            <button class="btn waves-effect waves-light" type="button">
                Cerrar session
            </button>
        </div>
    </div>
</div>