<div class="profile-view-content view-content">
    <h4>Mi perfil</h4>

    <div class="add-dob-datepicker-wrapper">
        <input name="capturePatient-DoB"
               type="date"
               id="capturePatient-DoB"
               class="datepicker add-dob-datepicker" required>
        <label for="capturePatient-DoB">Fecha de nacimiento</label>
    </div>

    <div class="panel">
        <div class="missing-dob-banner"></div>
        <figure class="user-figure-content">
            <img src="{{ imageUrl }}" alt="" class="user-profile-picture">

            <figcaption class="user-profile-caption">
                <ul class="user-data">
                    <li class="flow-text user-name">
                        <strong>{{ name }}</strong>
                    </li>
                    <li class="flow-text email">{{ email }}</li>
                </ul>
            </figcaption>
        </figure>

        <small class="auth-provider-name">Conectado utilizando tu perfil de {{ authProviderName }}</small>
        <div class="profile-details-view"></div>
    </div>

</div>
