@import 'colors';

.banner {
  align-items: center;
  display: flex;
  padding: 0.5rem;
  position: relative;

  &::after {
    content: " ";
    position: absolute;
    border: 2px solid color('orange', 'accent-4');
    height: 100%;
    left: 0;
  }
}

.banner-message {
  color: color('grey', 'darken-3');
}

.warning i {
  color: color('orange', 'darken-1');
}

.icon-wrapper {
  margin-right: 1rem;
  margin-left: 0.5rem;
}

