// These styles make it so that the element is invisible to regular users, but it's still in the DOM
// That way, it will still be accessible to screen readers
.a11y-desc {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}
