@import 'colors';

// These styles make it so that the element is invisible to regular users, but it's still in the DOM
// That way, it will still be accessible to screen readers
.a11y-desc {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

thead {
    border-bottom: 0; //Calendar override
}

body {
    background-color: color("grey", "lighten-4");
}

strong {
    font-weight: bold;
}

.hidden {
    display: none !important; // Need to override materialize styles
}

.chips {
    border-bottom: none;
}

.collapsible-body {
    padding: 1rem;
}

.icon-success {
    color: color("teal", "base");
}

.raw-fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

.raw-figure {
    margin: 0;
}

.panel {
    background-color: white;
    border: 1px solid color("grey", "lighten-2");
    border-radius: 1px;
    box-shadow: 0 1px 1px rgba(0,0,0,.1), 0 1px 4px rgba(0,0,0,.14);
    padding: 1rem;
}

.view-content {
    margin-top: 2rem;
}
