// Constants and hex colors defined here for convenience

$MAIN-RED: #ec407a;
$CTA-RED: #ffcdd2;
$WHITE: #fff;
$MAIN-CTA: #ff9800;
$SECONDARY-CTA: #000000;
$LIGHT-GRAY: #eeeeee;
$FORM-BORDER: #9e9e9e;
$BORDER-GRAY: #e0e0e0;
$INPUT-TEXT: #ec407a;
$BACKGROUND-GRAY: #d0d0d0;
$ERROR-RED: #f44336;
$STAR-GOLD: #ffc107;
$STAR-GRAY: #9e9e9e;

$TWO-COLUMN-WIDTH: 656px;
$ONE-COLUMN-WIDTH: 388px;
$THREE-COLUMN-WIDTH: 1015px;
$FOUR-COLUMN-WIDTH: 1470px;