.app-view {
    padding-top: 4rem;
    flex: 1;
}

html, body, main {
    height: 100%;
}

.main-view {
    display: flex;
    flex-direction: column;
}

.interface-image {
    height: 4rem;
    width: 4rem;
}
