<section class="home-view-content flow-text">
    <div class="section white">
        <div class="row container">
            <h2 class="header">Ortho Imagen Digital</h2>
            <p class="grey-text text-darken-3 lighten-3">
                Somos un laboratorio Radiologico Digital que ofrece servicio en radiologia digital especializada.
                Fundada en el 2012 y conformandose de personal de elevada experiencia, es una empresa comprometida
                con la calidad de su producto y la atencion hacia sus clientes
            </p>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax">
            <img src="https://placehold.it/1700x1100" alt="">
            <!--<img src="/images/kodak8000c.jpg" alt="">-->
            <!--<img src="http://tomografiaaxialdecolima.com/web/wp-content/plugins/widgetkit-wp/cache/gallery/27/Ortopantografo%20Kodak%208000C-b14af7cfc4.jpg">-->
        </div>
    </div>
    <div class="section white">
        <div class="row container">
            <h2 class="header">Tecnologia de vanguardia</h2>
            <p class="grey-text text-darken-3 lighten-3">
                Actualmente, los equipos de radiografia digital, como el nuestro, superan por mucho a los equipos
                convencionales. Dos aspectos importantes son la disminucion en la exposicion a rayos X de hasta un 60%,
                y la gran calidad de imagen que se obtiene. Una imagen de alta calidad viene de la mano con un diagnostico
                mas certero. Los beneficios de la radiologia digital van en dos sentidos, hacia el paciente y hacia el medico
                tratante.
            </p>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax">
            <img src="https://placehold.it/1700x1100" alt="">
            <!--<img src="http://orthoimagendigital.com/wp-content/themes/ortho2013/images/header.jpg">-->
        </div>
    </div>
    <div class="section white">
        <div class="row container">
            <h2 class="header">A tus ordenes</h2>
            <p class="grey-text text-darken-3 lighten-3">
                Ortho Imagen Digital pone a sus ordenes el servicio de radiologia digital.
                Conoce nuestros <a href="">servicios</a>, o lee mas acerca de nuestra <a href="">alta tecnologia</a>
            </p>
        </div>
    </div>
</section>

