<section class="home-view-content flow-text">
    <div class="section white">
        <div class="row container">
            <h2 class="header">Un laboratorio para ti</h2>
            <p class="grey-text text-darken-3 lighten-3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aenean maximus tempus rutrum. Aenean lobortis condimentum nisi id accumsan.
                Suspendisse potenti. Mauris tempus euismod ornare.
                Pellentesque mollis, risus nec mattis gravida, quam augue tincidunt dolor, pharetra mattis urna dui et turpis.
                Quisque massa dui, porta eu mauris id, faucibus eleifend justo. Quisque commodo massa magna.
                Aenean non lobortis ipsum. Etiam finibus consectetur aliquam.
                Proin sit amet vulputate ante, quis dapibus diam. In condimentum sem eget cursus sodales.
                Donec orci enim, pulvinar interdum velit nec, sodales posuere mi.
            </p>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax">
            <img src="http://placehold.it/1700x1100">
        </div>
    </div>
    <div class="section white">
        <div class="row container">
            <h2 class="header">Lorem Ipsum</h2>
            <p class="grey-text text-darken-3 lighten-3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aenean maximus tempus rutrum. Aenean lobortis condimentum nisi id accumsan.
                Suspendisse potenti. Mauris tempus euismod ornare.
                Pellentesque mollis, risus nec mattis gravida, quam augue tincidunt dolor, pharetra mattis urna dui et turpis.
                Quisque massa dui, porta eu mauris id, faucibus eleifend justo. Quisque commodo massa magna.
                Aenean non lobortis ipsum. Etiam finibus consectetur aliquam.
                Proin sit amet vulputate ante, quis dapibus diam. In condimentum sem eget cursus sodales.
                Donec orci enim, pulvinar interdum velit nec, sodales posuere mi.
            </p>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax">
            <img src="http://placehold.it/1700x1100">
        </div>
    </div>
    <div class="section white">
        <div class="row container">
            <h2 class="header">Parallax</h2>
            <p class="grey-text text-darken-3 lighten-3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aenean maximus tempus rutrum. Aenean lobortis condimentum nisi id accumsan.
                Suspendisse potenti. Mauris tempus euismod ornare.
                Pellentesque mollis, risus nec mattis gravida, quam augue tincidunt dolor, pharetra mattis urna dui et turpis.
                Quisque massa dui, porta eu mauris id, faucibus eleifend justo. Quisque commodo massa magna.
                Aenean non lobortis ipsum. Etiam finibus consectetur aliquam.
                Proin sit amet vulputate ante, quis dapibus diam. In condimentum sem eget cursus sodales.
                Donec orci enim, pulvinar interdum velit nec, sodales posuere mi.
            </p>
        </div>
    </div>
</section>

