<section class="login-view-content">
    <h2>Bienvenido!</h2>

    <p class="login-providers-note">Para su comodidad, favor de ingresar usando uno de sus perfiles existentes:</p>
    <ul class="login-providers">
        <li class="login-provider google">
            <span class="google-logo">
                {{ include-icon 'GoogleLogoSmall' }}
            </span>
            <span>
                Registro usando Google
            </span>
        </li>
    </ul>
</section>
