<section class="login-view-content">
    <h2>Bienvenido!</h2>

    <p class="login-providers-note">Para su comodidad, favor de ingresar usando uno de sus perfiles existentes:</p>
    <ul class="login-providers">
        <li class="login-provider google">
            <a href="#" class="do-login google-login">
                <span class="provider-logo google-logo">{{ include-icon 'GoogleLogoSmall' }}</span>
                <span class="provider-logo-text">Registro usando Google</span>
            </a>
        </li>
    </ul>
</section>
