@import "../constants";
@import "../mixins";

.feed-container {
  margin-top: 10px;
  border-radius: 2px;
}

.feed-items {
  @include columns(1);
  position: relative;
  overflow: hidden;
  padding-left: 5px;
  top: 90px;
  height: auto;

  &.inactive {
    overflow: inherit;
    min-height: 666px;
  }
}

.feed-item {
  @include column-break(avoid);

  background-color: $WHITE;
  margin: 0 auto 10px auto;
  width: 80%;
  display: flex;
  border-radius: 2px;
}

// When screen size is big enough, we switch back to the two column layout in the mocks
@media (min-width: $TWO-COLUMN-WIDTH) {
  .feed-items {
    @include columns(2);
    border-radius: 2px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: auto;
    top: 140px;
  }

  .feed-item {
    width: auto;
    max-width: 450px;
  }
}

// Figured this is low hanging fruit, if the screen gets too small we'll hide the book cover since it wont fit
@media (max-width: $ONE-COLUMN-WIDTH) {
  .book-cover-container {
    display: none;
  }
}

@media (min-width: $THREE-COLUMN-WIDTH) {
  .feed-items {
    @include columns(3);
  }
}

@media (min-width: $FOUR-COLUMN-WIDTH) {
  .feed-items {
    @include columns(4);
  }
}
