@import "../constants";
@import "../_mixins";

// Styles for the welcome back card view

.welcome-back {
  width: 100%;
}

.welcome-card-content,
.welcome-back-actions {
  padding: 15px;
}

.welcome-back-actions {
  border-top: 1px solid $BORDER-GRAY;
}

.welcome-back-card {
  > .card-body {
    padding-bottom: 30px;
  }

  // Added a quick fading animation when users dismiss the welcome card
  // These styles switch out the card body for an `All Done!` confirmation message
  // while the card is fading
  &.fading {
    .fading-card-body {
      display: block;
    }

    .card-body {
      display: none;
    }

    .welcome-back-actions {
      display: none;
    }
  }
}

.welcome-header {
  color: $MAIN-RED;
  font-weight: lighter;
}

.card-body {
  font-size: 1rem;
  padding-bottom: 20px;
}

.fading-card-body {
  display: none;
}