<div class="banner {{ type }} {{ bannerType type }}">
    <span class="icon-wrapper">
        <i class="material-icons">report_problem</i>
    </span>
    <span class="banner-message">
        {{ msg }}
    </span>
</div>

