<div class="dialog-wrapper">
    <div class="modal-content">
        <h4 class="modal-header">{{ header }}</h4>
        <div class="dialog-body">
            {{{ body }}}
        </div>
    </div>
    {{#if hasFooter}}
        <div class="modal-footer">
            <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">{{ okText }}</a>
        </div>
    {{/if}}
</div>
