<section class="contact-view-content flow-text">
    <h3>Contacto</h3>
    <div class="panel">
        <div class="contact-card">
            <div class="contact-icon-wrapper">
                <div class="phone-icon-wrapper">
                    <i class="medium material-icons phone-icon">phone</i>
                    <small class="call-us">Llamanos</small>
                </div>
            </div>
            <div class="contact-info">
                <div><strong>Telefono</strong></div>
                <span>5594 8890</span>
            </div>
        </div>
        
        <div class="divider"></div>

        <div class="email-card">
            <div class="email-icon-wrapper">
                <i class="medium material-icons email-icon">email</i>
                <small class="write-us">Escribenos</small>
            </div>
            <div class="email-info">
                <div><strong>Correo</strong></div>
                <span>gcamacho@orthoimagendigital.com</span>
            </div>
        </div>

        <div class="divider"></div>

        <div class="address-card">
            <div class="location-icon-wrapper">
                <a target="_blank" href="https://www.google.com/maps/@19.2899621,-99.1318007,3a,75y,90h,90t/data=!3m6!1e1!3m4!1sklubKTDYkGiqcof1FBxs7w!2e0!7i13312!8i6656?hl=es" class="nav-icon-wrapper">
                    <i class="medium material-icons nav-icon">navigation</i>
                    <small class="open-maps">Ver en mapa</small>
                </a>
            </div>
            <div class="address-fields">
                <div><strong>Direccion</strong></div>
                <span class="plaza">Plaza "Market Place", local 30 (planta baja)</span>
                <div class="address">
                    <span>Prolongacion Division del Norte #4541</span>
                    <span>Col. Ejidos de Huipulco</span>
                    <span>CP 14380 Tlalpan</span>
                    <span>Distrito Federal, Mexico</span>
                </div>
            </div>
        </div>
    </div>
</section>
