.do-login {
    display: inline-block;
    border-radius: 2px;
    width: 80%;
    margin-bottom: 1rem;

    > span {
        display: inline-block;
        vertical-align: middle;
    }
}

.google-login {
    background-color: #4285F4; // As per google guidelines
}

.facebook-login {
    background-color: #4267B2; // Facebook blue
}

.provider-logo {
    height: 3rem;
    width: 3rem;
    margin: 0 0.3rem;

    > figure {
        width: 100%;
        height: 100%;
        display: flex;
    }

    img {
        align-self: center;
        display: block;
        margin: 0 auto;
    }
}

.google-logo {
    img {
        height: 55%;
        width: 55%;
    }
}

.facebook-logo {
    img {
        height: 100%;
        width: 100%;
    }
}

.google-logo {
    background-color: white;
    border-radius: 2px;
}

.provider-logo-text {
    color: white;
    padding: 1rem;
}
