<section class="welcome-back">
  <div class="welcome-card-content">
    <h2 class="welcome-header">Welcome back!</h2>
    <div class="card-body">
      <p class="card-body-content">It's been a while.</p>
      <p class="card-body-content">Read any new books lately?</p>
    </div>

    <div aria-hidden="true" class="fading-card-body">
      <p>All done!</p>
    </div>
  </div>

  <div class="welcome-back-actions">
    <button class="btn-secondary dismiss-welcome">NO</button>
    <button class="btn-main add-book">YES</button>
  </div>
</section>