<div class="appointment-not-created-view-content">
    <p>
        Lo sentimos, hubo un error processando la solicitud. Por favor, intenta un dia y hora diferente y vuelve a intentar.
    </p>
    <p>
        <strong>No se ha realizado ningun cargo a su tarjeta.</strong>
    </p>
</div>

