<div class="divider"></div>
<section class="capture-details-view-content section">
    <h5>Detalles de la cita</h5>

    <span>Buscar un estudio:</span>
    <div class="pills-typeahead-view"></div>

    <section class="row">
        <div class="input-field col s12">
            <textarea name="captureDetails-notes"
                      id="captureDetails-notes"
                      type="text"
                      class="validate materialize-textarea"></textarea>
            <label for="captureDetails-notes">Notas</label>
        </div>
    </section>
</section>