<section class="capture-patient-view-content section">
    <h5>Datos del Paciente</h5>

    {{#if canSearch }}
        <span>Buscar paciente:</span>
        <div class="typeahead-view"></div>
    {{/if}}

    {{#if isLogedIn}}
        {{#if dateOfBirth}}
            <section class="row">
                <div class="col s12">
                    <p class="flow-text">Sus datos de paciente han sido registrados con la informacion de su perfil de {{ authProviderName }}!</p>
                </div>
            </section>
        {{else}}
            <section class="row">
                <div class="col s12">
                    <p class="flow-text">No hemos podido encontrar su fecha de nacimiento en los datos del perfil. Favor de proporcionar su fecha de nacimiento.</p>
                </div>

                <div class="input-field col s6">
                    <input name="capturePatient-DoB"
                           type="date"
                           id="capturePatient-DoB"
                           class="datepicker" required>
                    <label for="capturePatient-DoB">Fecha de nacimiento</label>
                </div>
            </section>
        {{/if}}
    {{else}}
        <section class="row">
            <div class="input-field col s4">
                <input name="capturePatient-firstName"
                       id="capturePatient-firstName"
                       type="text"
                       pattern="[A-Za-z ]+"
                       class="validate" required>
                <label for="capturePatient-firstName">Nombre</label>
            </div>
            <div class="input-field col s4">
                <input name="capturePatient-lastName"
                       id="capturePatient-lastName"
                       type="text"
                       pattern="[A-Za-z ]+"
                       class="validate" required>
                <label for="capturePatient-lastName">Apellidos</label>
            </div>
            <div class="input-field col s4">
                <input name="capturePatient-DoB"
                       type="date"
                       id="capturePatient-DoB"
                       class="datepicker" required>
                <label for="capturePatient-DoB">Fecha de nacimiento</label>
            </div>
        </section>
    {{/if}}
</section>