<section class="capture-doctor-view-content section">
    <h5>Datos del Doctor</h5>

    {{#if canSearch}}
        <span>Buscar doctor:</span>
        <div class="typeahead-view"></div>
    {{/if}}

    <section class="row">
        <div class="input-field col s6">
            <input name="captureDoctor-firstName"
                   id="captureDoctor-firstName"
                   type="text"
                   pattern="[A-Za-z ]+"
                   class="validate" required>
            <label for="captureDoctor-firstName">Nombre</label>
        </div>
        <div class="input-field col s6">
            <input name="captureDoctor-lastName"
                   id="captureDoctor-lastName"
                   type="text"
                   pattern="[A-Za-z ]+"
                   class="validate" required>
            <label for="captureDoctor-lastName">Apellidos</label>
        </div>
    </section>
</section>