<section class="capture-details-view-content section">
    <h5>Detalles de la cita</h5>

    <section class="row">
        <div class="col s12">
            <span>Buscar un estudio:</span>
            <div class="pills-typeahead-view"></div>
        </div>
    </section>

    <section class="row">
        <div class="col s6">
            <label for="capture-details-select-date">Selecciona un dia:</label>
            <input class="datepicker" type="date" name="capture-details-select-date" id="capture-details-select-date">
        </div>
        <div class="col s6 capture-details-select-time"></div>
    </section>

    <section class="row">
        <div class="input-field col s12">
            <textarea name="captureDetails-notes"
                      id="captureDetails-notes"
                      type="text"
                      class="validate materialize-textarea"></textarea>
            <label for="captureDetails-notes">Notas</label>
        </div>
    </section>
</section>