<div class="appointment-header-panel">
    <span class="appointment-panel-info">
        <i class="material-icons">assignment</i>
        <span>
            Datos de la cita {{ trolls }}
        </span>
    </span>
    <span class="appointment-panel-confirmation hidden">
        <i class="material-icons">done</i>
    </span>
</div>
