<div class="appointment-header-panel">
    <span class="appointment-panel-info">
        <i class="material-icons">assignment</i>
        <span>
            Datos de la cita
        </span>
    </span>
    {{#if valid}}
        <span class="appointment-panel-confirmation">
            <i class="material-icons icon-success">done</i>
        </span>
    {{/if}}
</div>
