<div class="confirm-appointment-view-content">
    <section class="patient-section">
        <h3>Paciente</h3>
        <div class="patient-name-desc">Nombre:</div>
        <div class="patient-name">{{ patient.firstName }} {{ patient.lastName }}</div>
    </section>
</div>