<div class="payment-success">
    <span class="payment-success-icon">
        <i class="material-icons">done</i>
    </span>
    <span class="payment-success-message">
        Su pago fue recibido, y su cita fue creada exitosamente!
    </span>
</div>