<section class="coming-soon-appointment-create-view-content flow-text">
    <h4>Agenda tu cita en linea</h4>

    <div class="panel">
        <div class="coming-soon-icon-wrapper">
            <i class="medium material-icons coming-soon-icon">info</i>
            <small class="coming-soon-text">Pagina en construccion ...</small>
        </div>

        <p>
            Pronto, podras agendar tus citas desde donde te encuentres, usando nuestro portal en linea.
            Estamos trabajando para brindarte esta funcionalidad. Regresa pronto!
        </p>
        <div class="divider"></div>
        <p>
            Si necesitas agendar una cita, por favor <a class="visit-contact-action" href="/contact">contactanos!</a>
        </p>
    </div>
</section>
