<section class="coming-soon-appointment-create-view-content flow-text">
    <h4 class="section">Agenda tu cita en linea</h4>

    <div class="panel">
        <div class="coming-soon-icon-wrapper">
            <img class="interface-image coming-soon-image" src="/images/coming-soon-construction.jpg" alt="Proximamente">
            <p class="flow-text coming-soon-text">Pagina en construccion</p>
            <img class="interface-image coming-soon-image" src="/images/coming-soon-vehicle.jpg" alt="Proximamente">
        </div>

        <div class="divider"></div>

        <p>
            Pronto, podras agendar tus citas desde donde te encuentres, usando nuestro portal en linea.
        </p>
        <p>
            Estamos trabajando para brindarte esta funcionalidad. Regresa pronto!
        </p>
        <div class="divider"></div>
        <p>
            Si necesitas agendar una cita, por favor <a class="visit-contact-action" href="/contact">contactanos!</a>
        </p>
    </div>
</section>
