<div class="footer-view-content flow-text">
    <div class="container">
        <div>
            <h6 class="white-text">Ortho Imagen Digital</h6>
            <small class="grey-text text-lighten-4">No encuentras lo que buscas? Llamanos al 5594 8890!</small>
        </div>
        <div>
            <ul class="footer-links">
                <li class="footer-link">
                    <a href="/home" class="home-action grey-text text-lighten-3"><small>Inicio</small></a>
                </li>
                <li class="footer-link">
                    <a class="contact-action grey-text text-lighten-3" href="/contact"><small>Contacto</small></a>
                </li>
                <li class="footer-link">
                    <!--<a class="appointment-action grey-text text-lighten-3" href="/appointments/create"><small>Agendar cita</small></a>-->
                    <a class="coming-soon-appointment-action grey-text text-lighten-3" href="/coming-soon/appointment-create"><small>Agendar cita</small></a>
                </li>
                <li class="footer-link">
                    <a class="about-action grey-text text-lighten-3" href="/about"><small>Acerca de nosotros</small></a>
                </li>
                {{#if isLoggedIn}}
                    <li class="footer-link">
                        <a class="profile-action grey-text text-lighten-3" href="/profile"><small>Perfil</small></a>
                    </li>
                {{ else }}
                    <li class="footer-link">
                        <a class="login-action grey-text text-lighten-3" href="/login"><small>Registro</small></a>
                    </li>
                {{/if}}
            </ul>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <small>
                © 2012 OID
            </small>
            <!--<a class="grey-text text-lighten-4 right" href="#!">More Links</a>-->
        </div>
    </div>
</div>
