@import "../../shared/colors";

.coming-soon-appointment-create-view-content {
    .coming-soon-icon-wrapper {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    .coming-soon-image {
        margin-bottom: 1rem;
    }

    .coming-soon-text {
        text-align: center;
    }
}
