@import "../shared/colors";
$pill-color: color("teal", "lighten-3");

.profile-details-sections {
    display: flex;
    background-color: white;
    margin: 0 0 1rem 0;
    border: 1px solid $pill-color;
    border-radius: 2px;
}

.profile-section {
    width: 50%;
    text-align: center;

    > a {
        display: block;
        padding: 1rem;
        color: black;
    }

    &:first-child {
        border-right: 1px solid $pill-color;
    }

    &.selected {
        background-color: $pill-color;

        > a {
            color: white;
        }
    }
}
