.add-dob-datepicker-wrapper {
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.user-figure-content {
    text-align: center;
}

.user-profile-picture {
    border-radius: 50%;
}

.auth-provider-name {
    display: block;
    text-align: center;
}
