@import "../constants";
@import "../mixins";

// Styles for NavView

.home-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  background: $MAIN-RED;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;

  // Nesting these styles here to show/hide the menu actions depending on the `expanded` class
  &.expanded {
    ~ .nav-mask {
      display: block;
    }

    .expand-actions {
      display: none;
    }

    .collapse-actions {
      display: inline-block;
    }

    .nav-book-list {
      display: block;
    }
  }
}

.nav-mask {
  display: none;
}

.nav-book-list {
  display: none;
  background: $WHITE;
}

.main-header {
  padding: 15px;
  color: $WHITE;
  display: inline-block;
}

.nav-action-compressed {
  margin-left: 10px;
  position: relative;
  top: 5px;
  opacity: 0.5;
}

.nav-book {
  display: block;
  border-bottom: 1px solid $BORDER-GRAY;
  padding: 15px;
}

.expand-actions,
.collapse-actions {
  @include unstyled-button();
}

.collapse-actions {
  display: none;
}

.nav-book-link {
  color: inherit;
  text-decoration: inherit;
  display: block;
}

// When the screen is wide enough, don't show the nav menu buttons (hamburger)
// Also make sure to show the sub nav view that has the book links
@media (min-width: $TWO-COLUMN-WIDTH) {
  .nav-action-compressed {
    display: none;
  }

  .nav-book {
    display: inline-block;
  }

  .nav-book-list {
    display: block;
    max-height: 55px;
    overflow: hidden;
    white-space: nowrap;

    &:hover {
      overflow-x: auto;
    }
  }
}