.side-nav-user-background {
    height: 100%;
    width: 100%;
}

.nav-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.nav-view-content {
    margin-bottom: 1px;
}

.nav-view-content {
    position: fixed;
    width: 100%;
    z-index: 1;
}

