
<span class="nav-action-compressed">
  <button class="expand-actions">
    <span aria-hidden="true">{{include-icon 'menu'}}</span>
  </button>
  <button class="collapse-actions">
    <span aria-hidden="true">{{include-icon 'close'}}</span>
  </button>
</span>

<h1 class="main-header">My books</h1>

<ul class="nav-book-list">
  {{#each collection}}
    <li class="nav-book">
      <a data-bookid={{id}} href="#" class="nav-book-link">
        {{name}}
      </a>
    </li>
  {{/each}}
</ul>