<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Titulo Principal</a>
        <ul id="nav-mobile" class="right">
            <li><a class="schedule-appointment-action" href="appointments/create" href="#">Agendar cita</a></li>
            <li><a href="/login">Registrate</a></li>
        </ul>
    </div>
</nav>