<nav class="nav-view-content teal lighten-1">
    <div class="nav-wrapper">
        <a href="/home" class="brand-logo center">Titulo Principal</a>
        <a href="#" data-activates="side-nav" class="menu-button">
            <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
            <li><a class="schedule-appointment-action" href="/appointments/create">Agendar cita</a></li>
            {{#if isLoggedIn}}
                <li class="profile-item"><a class="visit-profile-action" href="/profile">Mi perfil</a></li>
            {{ else }}
                <li class="create-appointment"><a class="do-login-action" href="/login">Registrate</a></li>
            {{/if}}
        </ul>
        <ul class="side-nav" id="side-nav">
            <li><a class="schedule-appointment-action" href="/appointments/create">Agendar cita</a></li>
            {{#if isLoggedIn}}
                <li class="profile-item"><a class="visit-profile-action" href="/profile">Mi perfil</a></li>
            {{ else }}
                <li class="create-appointment"><a class="do-login-action" href="/login">Registrate</a></li>
            {{/if}}
        </ul>
    </div>
</nav>
