@import "../shared/colors";

// Override
footer.page-footer {
    background-color: color("teal", "lighten-1");
    margin-bottom: -2rem;
    padding-top: 1rem;
    margin-top: 4rem;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    margin-right: 1rem;
    flex-wrap: wrap;
}

.footer-link {

}
