{{! Main layout and container elements for the principal views of the page }}

<nav role="navigation" class="home-nav"></nav>
<div aria-hidden="true" class="mask nav-mask"></div>
<ul class="feed-items"></ul>

