<nav class="nav-view"></nav>
<div class="container app-view">
    <div class="create-appointment-view"></div>
    <div class="login-view"></div>
    <div class="view-appointment-view"></div>
    <div class="home-view"></div>
</div>
